[DATABASE]
dialect = mysql
name = gtsoog
user = root
user_password = root
host = localhost
port = 3306

[LOGGING]
level = DEBUG
override = True
# file = ml_pipeline.log
# format = %(asctime)s [%(levelname)s] %(message)s
# date_format = %Y.%m.%d %H:%M:%S

[REPORTING]
display_reports = True
validation_curve = True
learning_curve = True

[REPOSITORY]
name = junit

[ML]
# supported models: linear_regression, ridge_regression, svr
model = svr
normalize = False
cross_validation = True
alpha = 1
alpha_range = 0.01, 0.1, 1, 10, 100, 1000
C = 0.01
C_range = 1, 0.1, 0.01, 0.001, 0.0001, 0.00001, 0.000001, 0.0000001
# linear, rbf, poly, sigmoid, precomputed
kernel = rbf
polynomial_degree = 1

[DATASET]
cache = True
target = sixmonths
train_start = 2000.12.03
train_end = 2013.12.31
test_start = 2014.01.01
test_end = 2014.12.31
use_ngrams = True
features =
    BLOC,
    CBO,
    CLOC,
    LCOM,
    MAXCLS,
    MAXLINE,
    MAXMET,
    MAXVAR,
    MEDCLS,
    MEDLINE,
    MEDMET,
    MEDVAR,
    MINCLS,
    MINLINE,
    MINMET,
    MINVAR,
    NPM,
    NPV,
    PLOC,
    RFC,
    SLOC,
    WMC