[DATABASE]
dialect = mysql
name = gtsoog
user = root
user_password = root
host = localhost
port = 3306

[LOGGING]
level = DEBUG
override = False
file = ml_pipeline.log
# format = %(asctime)s [%(levelname)s] %(message)s
# date_format = %Y.%m.%d %H:%M:%S

[REPORTING]
display_reports = True
validation_curve = True
learning_curve = True

[REPOSITORY]
name = elasticsearch

[ML]
# supported models: linear_regression, ridge_regression, svr
model = svr
normalize = False
cross_validation = True
alpha = 1
alpha_range = 0.01, 0.1, 1, 10, 100, 1000
C = 0.01
C_range = 1, 0.1, 0.01, 0.001, 0.0001, 0.00001, 0.000001, 0.0000001
# linear, rbf, poly, sigmoid, precomputed
kernel = rbf

[DATASET]
cache = True
target = sixmonths
train_start = 2000.12.03
train_end = 2013.12.31
test_start = 2014.01.01
test_end = 2014.12.31
polynomial_degree = 1
use_ngrams = True
features =
    BLOC,
    CBO,
    CLOC,
    DBLC,
    LCOM,
    MAXCLS,
    MaxDBOC180D,
    MaxDBOC1D,
    MaxDBOC30D,
    MaxDBOC365D,
    MaxDBOC730D,
    MaxDBOC7D,
    MaxDBOC90D,
    MAXLINE,
    MAXMET,
    MaxNOFAFOC180D,
    MaxNOFAFOC1D,
    MaxNOFAFOC30D,
    MaxNOFAFOC365D,
    MaxNOFAFOC730D,
    MaxNOFAFOC7D,
    MaxNOFAFOC90D,
    MaxNOFCFOC180D,
    MaxNOFCFOC1D,
    MaxNOFCFOC30D,
    MaxNOFCFOC365D,
    MaxNOFCFOC730D,
    MaxNOFCFOC7D,
    MaxNOFCFOC90D,
    MaxNOFDFOC180D,
    MaxNOFDFOC1D,
    MaxNOFDFOC30D,
    MaxNOFDFOC365D,
    MaxNOFDFOC730D,
    MaxNOFDFOC7D,
    MaxNOFDFOC90D,
    MaxNOFRFOC180D,
    MaxNOFRFOC1D,
    MaxNOFRFOC30D,
    MaxNOFRFOC365D,
    MaxNOFRFOC730D,
    MaxNOFRFOC7D,
    MaxNOFRFOC90D,
    MAXVAR,
    MeanDBOC180D,
    MeanDBOC1D,
    MeanDBOC30D,
    MeanDBOC365D,
    MeanDBOC730D,
    MeanDBOC7D,
    MeanDBOC90D,
    MeanNOFAFOC180D,
    MeanNOFAFOC1D,
    MeanNOFAFOC30D,
    MeanNOFAFOC365D,
    MeanNOFAFOC730D,
    MeanNOFAFOC7D,
    MeanNOFAFOC90D,
    MeanNOFCFOC180D,
    MeanNOFCFOC1D,
    MeanNOFCFOC30D,
    MeanNOFCFOC365D,
    MeanNOFCFOC730D,
    MeanNOFCFOC7D,
    MeanNOFCFOC90D,
    MeanNOFDFOC180D,
    MeanNOFDFOC1D,
    MeanNOFDFOC30D,
    MeanNOFDFOC365D,
    MeanNOFDFOC730D,
    MeanNOFDFOC7D,
    MeanNOFDFOC90D,
    MeanNOFRFOC180D,
    MeanNOFRFOC1D,
    MeanNOFRFOC30D,
    MeanNOFRFOC365D,
    MeanNOFRFOC730D,
    MeanNOFRFOC7D,
    MeanNOFRFOC90D,
    MEDCLS,
    MedDBOC180D,
    MedDBOC1D,
    MedDBOC30D,
    MedDBOC365D,
    MedDBOC730D,
    MedDBOC7D,
    MedDBOC90D,
    MEDLINE,
    MEDMET,
    MedNOFAFOC180D,
    MedNOFAFOC1D,
    MedNOFAFOC30D,
    MedNOFAFOC365D,
    MedNOFAFOC730D,
    MedNOFAFOC7D,
    MedNOFAFOC90D,
    MedNOFCFOC180D,
    MedNOFCFOC1D,
    MedNOFCFOC30D,
    MedNOFCFOC365D,
    MedNOFCFOC730D,
    MedNOFCFOC7D,
    MedNOFCFOC90D,
    MedNOFDFOC180D,
    MedNOFDFOC1D,
    MedNOFDFOC30D,
    MedNOFDFOC365D,
    MedNOFDFOC730D,
    MedNOFDFOC7D,
    MedNOFDFOC90D,
    MedNOFRFOC180D,
    MedNOFRFOC1D,
    MedNOFRFOC30D,
    MedNOFRFOC365D,
    MedNOFRFOC730D,
    MedNOFRFOC7D,
    MedNOFRFOC90D,
    MEDVAR,
    MINCLS,
    MinDBOC180D,
    MinDBOC1D,
    MinDBOC30D,
    MinDBOC365D,
    MinDBOC730D,
    MinDBOC7D,
    MinDBOC90D,
    MINLINE,
    MINMET,
    MinNOFAFOC180D,
    MinNOFAFOC1D,
    MinNOFAFOC30D,
    MinNOFAFOC365D,
    MinNOFAFOC730D,
    MinNOFAFOC7D,
    MinNOFAFOC90D,
    MinNOFCFOC180D,
    MinNOFCFOC1D,
    MinNOFCFOC30D,
    MinNOFCFOC365D,
    MinNOFCFOC730D,
    MinNOFCFOC7D,
    MinNOFCFOC90D,
    MinNOFDFOC180D,
    MinNOFDFOC1D,
    MinNOFDFOC30D,
    MinNOFDFOC365D,
    MinNOFDFOC730D,
    MinNOFDFOC7D,
    MinNOFDFOC90D,
    MinNOFRFOC180D,
    MinNOFRFOC1D,
    MinNOFRFOC30D,
    MinNOFRFOC365D,
    MinNOFRFOC730D,
    MinNOFRFOC7D,
    MinNOFRFOC90D,
    MINVAR,
    NOA180D,
    NOA1D,
    NOA30D,
    NOA365D,
    NOA730D,
    NOA7D,
    NOA90D,
    NOAF180D,
    NOAF1D,
    NOAF30D,
    NOAF365D,
    NOAF730D,
    NOAF7D,
    NOAF90D,
    NOAL180D,
    NOAL1D,
    NOAL30D,
    NOAL365D,
    NOAL730D,
    NOAL7D,
    NOAL90D,
    NOB180D,
    NOB1D,
    NOB30D,
    NOB365D,
    NOB730D,
    NOB7D,
    NOB90D,
    NOCF180D,
    NOCF1D,
    NOCF30D,
    NOCF365D,
    NOCF730D,
    NOCF7D,
    NOCF90D,
    NODF180D,
    NODF1D,
    NODF30D,
    NODF365D,
    NODF730D,
    NODF7D,
    NODF90D,
    NODL180D,
    NODL1D,
    NODL30D,
    NODL365D,
    NODL730D,
    NODL7D,
    NODL90D,
    NOE180D,
    NOE1D,
    NOE30D,
    NOE365D,
    NOE730D,
    NOE7D,
    NOE90D,
    NORF180D,
    NORF1D,
    NORF30D,
    NORF365D,
    NORF730D,
    NORF7D,
    NORF90D,
    NPM,
    NPV,
    PLOC,
    RFC,
    SLOC,
    WMC
