[DATABASE]
dialect = mysql
name = gtsoog
user = root
user_password = root
host = localhost
port = 3306

[LOGGING]
level = DEBUG
override = True
# file = ml_pipeline.log
# format = %(asctime)s [%(levelname)s] %(message)s
# date_format = %Y.%m.%d %H:%M:%S

[REPOSITORY]
name = elasticsearch

[ML]
# supported models: linear_regression, ridge_regression
model = ridge_regression
normalize = False
alpha = 0.5
cross_validation = 5
polynomial_degree = 1

[DATASET]
cache = True
target = sixmonths
train_start = 2011.01.01
train_end = 2012.12.31
test_start = 2013.01.01
test_end = 2013.12.31
features =
    BLOC,
    CBO,
    CLOC,
    LCOM,
    MAXCLS,
    MAXLINE,
    MAXMET,
    MAXVAR,
    MEDCLS,
    MEDLINE,
    MEDMET,
    MEDVAR,
    MINCLS,
    MINLINE,
    MINMET,
    MINVAR,
    NPM,
    NPV,
    PLOC,
    RFC,
    SLOC,
    WMC